*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  color: #171717; }

h1 {
  font-size: 2.6rem;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: 1.2; }

h2 {
  font-size: 2.4rem;
  font-weight: 400; }

h3 {
  font-size: 2.4rem; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 1.6rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400; }

h6 {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase; }

p {
  font-size: 1.7rem;
  letter-spacing: .3px;
  font-weight: 300;
  line-height: 1.5; }

a:link {
  color: #171717; }

a:visited {
  color: #171717; }

a:hover {
  color: #171717; }

a:active {
  color: #171717; }

ul,
ol {
  list-style: none; }

.grid {
  margin: 0px auto;
  display: grid;
  grid-template-columns: [full-start] 3rem [content-start] 1fr [content-end] 3rem [full-end]; }

.header-grid-item,
.skills-grid-item,
.footer-grid-item {
  position: relative;
  grid-column: content-start / content-end;
  background-color: #171717; }

.header-grid-item:before,
.skills-grid-item:before,
.about-grid-item:before,
.exp-grid-item:before,
.footer-grid-item:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100vw;
  right: -100vw;
  background: inherit; }

.section-title {
  margin-top: 5rem; }

.section-title--white {
  color: #ffffff; }

.projects-grid-item {
  grid-column: content-start / content-end; }

.skills,
.about,
.experience,
.footer {
  padding-bottom: 8rem; }

.about-grid-item {
  position: relative;
  grid-column: content-start / content-end;
  background-color: #ffbdcb; }

.exp-grid-item {
  position: relative;
  grid-column: content-start / content-end;
  background-color: #e7ecf2; }

.navbar-grid-item {
  position: relative;
  grid-column: content-start / content-end;
  background-color: #171717;
  height: 100px; }

.navbar-grid-item:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100vw;
  right: -100vw;
  background: inherit; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.logo {
  font-size: 2.2rem;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: -.2px; }

.burger {
  z-index: 1030;
  display: block;
  cursor: pointer; }

.burger div {
  height: 0.2rem;
  width: 2.5rem;
  margin-top: 0.5rem;
  background-color: #ffffff;
  border-radius: 1rem;
  transition: all 0.3s ease; }

.burger div:last-of-type {
  margin-bottom: 0.5rem; }

.header {
  height: 50rem;
  padding-top: 10rem; }

.header-title {
  color: #ffffff; }

.btn-primary {
  display: inline-block;
  padding-left: 2rem;
  padding-top: 1.5rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
  text-align: center;
  color: #171717;
  background-color: #ffbdcb;
  border-radius: 5px;
  cursor: pointer; }
  .btn-primary:hover {
    background-color: #ff99af; }

.card {
  margin-top: 2rem;
  margin-bottom: 5rem; }

.card:last-of-type {
  margin-bottom: 8rem; }

.card-img {
  height: 100%;
  width: 100%; }

.card-title {
  margin-top: 2rem; }

.card-text {
  margin-top: 1rem; }

.card-subtext {
  margin-top: 3rem;
  font-weight: 400; }

.card-icon-set {
  display: flex;
  align-items: center; }

.card-icon-set:first-of-type {
  margin-top: 1.2rem; }

.card-icon {
  padding-right: .7rem; }

.tag-container {
  margin-top: 3rem; }

.tag {
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding-top: .5rem;
  padding-right: 1rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  display: inline-block;
  background-color: #834bf6;
  border-radius: .3rem; }

.tag--hmtl {
  background-color: #ff511d; }

.tag--css {
  background-color: #ffbdcb; }

.tag--js {
  background-color: #f1e05a; }

.tag--tool {
  background-color: #ffffff; }

.tag--design {
  color: #ffffff; }

.about-title {
  margin-top: 2rem; }

.about-text {
  margin-top: 2rem; }

.about-text:last-of-type {
  margin-bottom: 2rem; }

.about-img {
  margin-top: 5rem; }

.exp-title {
  margin-top: 4rem;
  margin-bottom: 2rem; }

.exp-text-container {
  margin-top: 1.2rem; }

.exp-text-container p:first-of-type {
  font-weight: 400; }

.footer-mail {
  margin-top: 4rem;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: .1rem; }

.footer-social {
  margin-top: 10rem;
  margin-bottom: 6rem; }

.footer-social h5 {
  margin-top: .5rem; }

.u-text-center {
  text-align: center; }

.u-mb-1 {
  margin-bottom: 1rem; }

.u-mb-2 {
  margin-bottom: 2rem; }

.u-text-white {
  color: #ffffff; }
