*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "scroll-behavior: smooth"; }

body {
  overflow-x: hidden;
  color: #161616;
  font-family: "bs", arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #161616;
  background-color: #ffffff; }
  @media only screen and (min-width: 48.1em) {
    body {
      font-size: 2.2rem; } }

::selection {
  background: #ffdae0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  font-weight: 600;
  line-height: 1.25;
  color: #161616; }

h1 {
  margin-bottom: 2.4rem;
  font-size: 3.8rem;
  line-height: 1.1;
  letter-spacing: -0.5px; }
  @media only screen and (min-width: 48.1em) {
    h1 {
      margin-bottom: 2.4rem;
      font-size: 4.8rem; } }

h2 {
  margin-bottom: 4.8rem;
  font-size: 3.8rem; }
  @media only screen and (min-width: 48.1em) {
    h2 {
      font-size: 4.8rem; } }

h3 {
  margin-bottom: 4.8rem;
  font-size: 2.4rem; }
  @media only screen and (min-width: 75em) {
    h3 {
      font-size: 3rem; } }

p {
  margin-bottom: 1.6rem; }

strong {
  color: #161616; }

a:link {
  text-decoration: none;
  color: #161616; }

a:visited {
  color: #161616; }

p a:link {
  color: #161616;
  text-decoration: underline; }

p a:visited {
  color: #161616;
  border-bottom-color: #FFC0CB; }

@media (hover: hover) {
  p a:hover {
    cursor: pointer; } }

p a:active {
  color: #161616; }

ul,
ol {
  list-style-type: none; }

img {
  width: 100%;
  border-radius: 2rem; }

strong {
  font-weight: 600; }

@font-face {
  font-family: "bs";
  src: url("../../css/font/bs-regular.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: "bs";
  src: url("../../css/font/bs-medium.woff") format("woff");
  font-weight: 600; }

.anchor {
  display: block;
  position: relative;
  top: -7.5rem;
  visibility: hidden; }

#contact-section {
  display: block;
  position: relative;
  top: -200px;
  visibility: hidden; }
  @media only screen and (min-width: 48.1em) {
    #contact-section {
      top: -400px; } }

.box {
  border-radius: 2rem;
  background-color: #f4f4f4;
  padding-top: 2.4rem;
  padding-bottom: 1.2rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem; }
  @media only screen and (min-width: 48.1em) {
    .box {
      padding-left: 2.4rem;
      padding-right: 2.4rem; } }
  @media only screen and (min-width: 75em) {
    .box {
      padding-top: 6.4rem;
      padding-bottom: 4.8rem; } }

.box div {
  max-width: 85rem;
  margin-left: auto;
  margin-right: auto; }

.box ul span {
  font-size: 2.4rem;
  margin-right: 1.2rem;
  margin-top: -0.2rem; }
  @media only screen and (min-width: 48.1em) {
    .box ul span {
      font-size: 3rem;
      margin-right: 1.6rem;
      margin-top: -0.4rem; } }

.box ul li {
  font-size: 2.2rem; }
  @media only screen and (min-width: 48.1em) {
    .box ul li {
      font-size: 2.4rem; } }

.btn--txt {
  display: inline-flex;
  align-items: center;
  margin-bottom: 1.2rem;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.1s ease; }

@media (hover: hover) {
  .btn--txt:hover {
    border-bottom: 2px solid #161616; } }

.btn--txt--case {
  color: #757575 !important; }

@media (hover: hover) {
  .btn--txt--case:hover {
    border-bottom: 2px solid #757575; } }

.arrow-up {
  z-index: 900;
  position: fixed;
  bottom: -6rem;
  right: 2rem;
  width: 4.2rem;
  height: 4.2rem;
  padding: 1rem 1rem;
  background-color: #ffffff;
  background-color: #ececee;
  border-radius: 50rem;
  transition: transform 0.3s ease-out, bottom 0.5s ease-out; }
  .arrow-up:hover {
    transform: translateY(-1rem);
    cursor: pointer; }
  @media only screen and (min-width: 48.1em) {
    .arrow-up {
      width: 4.8rem;
      height: 4.8rem; } }
  @media only screen and (min-width: 75em) {
    .arrow-up {
      right: 5.5rem; } }

.arrow-up-active {
  bottom: 2rem; }
  @media only screen and (min-width: 48.1em) {
    .arrow-up-active {
      bottom: 2.5rem;
      right: 2.5rem; } }
  @media only screen and (min-width: 75em) {
    .arrow-up-active {
      bottom: 5.5rem;
      right: 5.5rem; } }

.close-btn {
  z-index: 900;
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 4.2rem;
  height: 4.2rem;
  padding: 1rem 1rem;
  background-color: #ffffff;
  background-color: #ececee;
  border-radius: 50rem;
  transition: transform 0.3s ease-out, bottom 0.5s ease-out; }
  .close-btn:hover {
    transform: translateY(0.3rem);
    cursor: pointer; }
  @media only screen and (min-width: 48.1em) {
    .close-btn {
      top: 2.5rem;
      right: 2.5rem;
      width: 4.8rem;
      height: 4.8rem; } }
  @media only screen and (min-width: 75em) {
    .close-btn {
      right: 5.5rem; } }

.card-btn {
  display: none; }
  @media only screen and (min-width: 75em) {
    .card-btn {
      display: flex;
      opacity: 0;
      justify-content: center;
      align-items: center;
      width: 4.8rem;
      height: 4.8rem;
      padding: 1rem 1rem;
      background-color: #ececee;
      background-color: #ffffff;
      border-radius: 50rem;
      transition: opacity 0.25s ease-out, bottom 0.5s ease-out; } }

.card {
  display: block;
  margin-bottom: 3.2rem;
  padding: 2.4rem;
  border-radius: 2rem;
  background-color: #f4f4f4;
  transition: transform 0.18s ease-in; }
  @media only screen and (min-width: 48.1em) {
    .card {
      margin-bottom: 4.8rem; } }
  @media only screen and (min-width: 75em) {
    .card {
      margin-bottom: 9.6rem; } }

a .card__img {
  width: 100%;
  margin-bottom: 2.4rem;
  transition: scale 0.2s ease-in; }

.card__title {
  margin-bottom: 1.2rem;
  color: #393939;
  font-weight: 400; }

.card__text {
  margin-bottom: 1.6rem;
  line-height: 1.35; }

.card .card__chip-container {
  justify-content: space-between;
  align-items: center; }

.card .chip--small {
  margin-top: 0.8rem;
  margin-bottom: 0;
  background-color: #ffffff;
  font-size: 1.2rem; }
  @media only screen and (min-width: 48.1em) {
    .card .chip--small {
      font-size: 1.6rem; } }

@media (hover: hover) {
  .card:hover {
    transform: translateY(-1rem); } }

@media (hover: hover) {
  .card:hover .card-btn {
    opacity: 1; } }

@media (hover: hover) {
  .card:hover img {
    scale: 1.03; } }

.chip-container {
  margin-top: 3.2rem; }
  @media only screen and (min-width: 48.1em) {
    .chip-container {
      margin-top: 0; } }
  @media only screen and (min-width: 75em) {
    .chip-container {
      font-size: 2.4rem; } }

.chip {
  display: block;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  background-color: #ffffff;
  border-radius: 50rem;
  border: 2px solid #393939;
  color: #393939; }

.chip--big {
  display: block;
  margin-right: 0.8rem;
  margin-bottom: 1.2rem;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-size: 2rem;
  background-color: #ffffff;
  border-radius: 50rem;
  border: 1px solid #c6c6c6;
  color: #393939; }
  @media only screen and (min-width: 48.1em) {
    .chip--big {
      font-size: 2.2rem; } }
  @media only screen and (min-width: 75em) {
    .chip--big {
      font-size: 2.4rem; } }

.chip--small {
  font-size: 1.6rem;
  color: #757575;
  background-color: #ececee;
  border: none;
  line-height: 24px; }

.flex {
  display: flex; }

.flex--center-v {
  align-items: center; }

.flex--baseline-v {
  align-items: baseline; }

.flex--center-h {
  justify-content: center; }

.flex--wrap {
  flex-wrap: wrap; }

.flex--column {
  flex-direction: column; }

.grid {
  display: grid;
  grid-template-columns: [full-start] 2rem [content-start] 1fr [content-end] 2rem [full-end]; }
  @media only screen and (min-width: 48.1em) {
    .grid {
      grid-template-columns: [full-start] 3rem [content-start] 1fr [col2] 1fr [content-end] 3rem [full-end]; } }
  @media only screen and (min-width: 75em) {
    .grid {
      grid-template-columns: [full-start] 1fr [content-start] 58.8rem [col2] 58.8rem [content-end] 1fr [full-end]; } }

.grid-item {
  grid-column: content-start / content-end; }

.grid-item--full {
  grid-column: full-start / full-end; }
  @media only screen and (min-width: 48.1em) {
    .grid-item--full {
      grid-column: content-start / content-end; } }

.col-1-container {
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto; }

@media only screen and (min-width: 48.1em) {
  .col-2-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem; } }

@media only screen and (min-width: 48.1em) {
  .col-2-container--plus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem; } }

@media only screen and (min-width: 75em) {
  .col-2-container--plus {
    grid-template-columns: 1fr 40%; } }

@media only screen and (min-width: 48.1em) {
  .col-2-container--plus-reversed {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem; } }

@media only screen and (min-width: 75em) {
  .col-2-container--plus-reversed {
    grid-template-columns: 40% 1fr; } }

@media only screen and (min-width: 48.1em) {
  .col-3-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2.4rem; } }

.grid-order-1 {
  order: 1; }

.ui-icon {
  width: 2.6rem;
  height: 2.6rem;
  margin-left: 0.8rem;
  color: #161616; }

.ui-icon--small {
  width: 2rem;
  height: 2rem;
  margin-left: 0.4rem;
  color: #161616; }

.smiley-icon {
  display: block;
  width: 5rem;
  margin: 0 auto; }

.lined-list {
  margin-bottom: 4.8rem; }

.lined-list li {
  margin-bottom: 0px;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid #c6c6c6;
  font-size: 2rem; }
  @media only screen and (min-width: 48.1em) {
    .lined-list li {
      font-size: 2.2rem; } }
  @media only screen and (min-width: 75em) {
    .lined-list li {
      font-size: 2.4rem; } }

.lined-list li:first-of-type {
  border-top: 1px solid #c6c6c6; }

.navbar {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  background-color: #FFC0CB; }
  @media (hover: hover) {
    .navbar:hover:before {
      top: 0rem; }
    .navbar:hover .logo-icon rect {
      fill: #161616 !important;
      fill-opacity: 1 !important;
      transition: fill 0.15s ease-in; }
    .navbar:hover .logo-icon path {
      fill: #FFC0CB !important;
      transition: fill 0.15s ease-in; } }

.navbar--case {
  position: static;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  background-color: #ffffff; }

.navbar:before {
  content: "";
  position: absolute;
  left: 0;
  top: -10rem;
  width: 100%;
  height: 100%;
  z-index: -100;
  backdrop-filter: saturate(0.5) blur(5px);
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 1px 1px 10px 1px rgba(117, 117, 117, 0.1);
  transition: top 0.15s ease-out; }

.nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 130rem;
  margin-left: auto;
  margin-right: auto;
  animation: fadeIn 0.6s ease-in 1, topToBottom 0.7s ease 1; }

.nav-flex--case {
  height: 4.4rem; }

.logo-icon {
  width: 30px;
  margin-right: 1.2rem; }

.navbar-menu {
  z-index: 1000;
  position: fixed;
  top: 0rem;
  right: -100rem;
  height: 100vh;
  width: 92vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFC0CB;
  box-shadow: -5px 0px 15px 2px rgba(22, 22, 22, 0.1);
  transition: right 0.35s ease-out; }
  @media only screen and (min-width: 48.1em) {
    .navbar-menu {
      position: static;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      height: 100%;
      width: 70%;
      background-color: transparent;
      box-shadow: none; } }

.menu-active {
  right: 0rem; }

.navbar-menu li {
  margin-bottom: 1.2rem;
  padding: 1.2rem;
  user-select: none; }
  @media only screen and (min-width: 48.1em) {
    .navbar-menu li {
      margin-bottom: 0rem;
      margin-right: 3.2rem;
      padding: 0rem; }
      .navbar-menu li:last-of-type {
        margin-right: 0rem; } }

.navbar-menu .nav-link {
  color: #161616;
  font-size: 2.2rem; }
  @media only screen and (min-width: 48.1em) {
    .navbar-menu .nav-link {
      display: block;
      padding-top: 1rem;
      padding-bottom: 0.5rem;
      font-size: 1.8rem;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.1s ease; }
      .navbar-menu .nav-link:hover {
        border-bottom: 2px solid #161616; } }

@media only screen and (min-width: 48.1em) {
  .navbar-menu .nav-link--external {
    display: flex;
    align-items: center; } }

.navbar-menu .link-active {
  border-bottom: 2px solid #FFC0CB; }
  .navbar-menu .link-active:hover {
    border-bottom: 2px solid #FFC0CB; }

.navbar-menu li:last-of-type .link-active {
  color: #161616;
  border-bottom: 2px solid transparent; }
  .navbar-menu li:last-of-type .link-active:hover {
    border-bottom: 2px solid #161616; }

.navbar-burger {
  z-index: 1030;
  display: block;
  cursor: pointer; }
  @media only screen and (min-width: 48.1em) {
    .navbar-burger {
      display: none; } }

.navbar-burger div {
  height: 0.2rem;
  width: 3rem;
  margin-top: 0.7rem;
  background-color: #161616;
  transition: transform 0.3s ease; }

.navbar-burger div:last-of-type {
  margin-bottom: 0.7rem; }

.burger-animate .line1 {
  transform: rotate(-45deg) translate(-0.7rem, 0.6rem); }

.burger-animate .line2 {
  opacity: 0; }

.burger-animate .line3 {
  transform: rotate(45deg) translate(-0.6rem, -0.6rem); }

.nav-scroll {
  background-color: transparent; }
  .nav-scroll:before {
    top: 0rem; }
  .nav-scroll .logo-icon rect {
    fill: #161616 !important;
    fill-opacity: 1 !important;
    transition: fill 0.15s ease-in; }
  .nav-scroll .logo-icon path {
    fill: #FFC0CB !important;
    transition: fill 0.15s ease-in; }

.spot-illu {
  width: 70%;
  margin-bottom: 3.2rem; }

.spot-card {
  margin-top: 3.2rem;
  padding-top: 2.4rem;
  padding-bottom: 1.2rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  background-color: #f4f4f4;
  border-radius: 2rem;
  line-height: 1.35; }
  @media only screen and (min-width: 48.1em) {
    .spot-card {
      margin-top: 1.6rem; } }

footer {
  margin-top: 1.2rem; }

.footer-case-pages {
  margin-top: 9.6rem; }

.footer__box {
  padding-top: 3.2rem;
  padding-bottom: 1.6rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  border-radius: 2rem; }

@media only screen and (min-width: 48.1em) {
  footer ul a:hover {
    border-bottom: 2px solid #161616; } }

.footer__copyright {
  margin-top: 1.2rem;
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  color: #757575; }
  @media only screen and (min-width: 26.9em) {
    .footer__copyright {
      width: 85%;
      margin-top: 9.6rem;
      margin-bottom: 1.2rem;
      font-size: 1.6rem; } }
  @media only screen and (min-width: 48.1em) {
    .footer__copyright {
      margin-bottom: 3.2rem; } }
  @media only screen and (min-width: 75em) {
    .footer__copyright {
      margin-top: 4.8rem;
      margin-bottom: 4.8rem; } }

.header {
  position: relative;
  padding-top: 16rem;
  padding-bottom: 16rem;
  background-color: #FFC0CB; }
  @media only screen and (min-width: 48.1em) {
    .header {
      height: 100vh;
      text-align: center; } }
  @media only screen and (min-width: 75em) {
    .header {
      padding-top: 9.6rem; } }

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.header__title {
  padding-bottom: 1.2rem;
  animation: fadeIn 0.6s ease-in 1, bottomToTop 0.8s ease 1; }

.header__subtitle {
  animation: fadeIn 0.7s ease-in 1, bottomToTop 1s ease 1; }

.header__arrow {
  display: none; }
  @media only screen and (min-width: 48.1em) {
    .header__arrow {
      display: block;
      position: absolute;
      bottom: 3.2rem;
      left: 0;
      right: 0;
      margin: auto;
      animation: bottomToTop 0.7s ease 1, moveToDown 2s 1.5s ease infinite; }
      .header__arrow span {
        color: #241c15;
        font-size: 3rem; }
      .header__arrow:link {
        box-shadow: none; } }

.list {
  list-style-type: square;
  list-style-position: outside;
  margin-bottom: 3.2rem;
  padding-left: 2.4rem; }

.list li {
  margin-bottom: 1.6rem; }

.list--no-style {
  list-style-type: none;
  padding-left: 0; }

.list--more-spacing li {
  margin-bottom: 3.2rem; }

.js-animate-img {
  margin-top: 7rem;
  transition: margin-top 0.8s; }

.isAnimated {
  margin-top: 0rem; }

.js-animate-bio__img {
  margin-top: 10rem;
  transition: margin-top 0.8s; }

.isAnimated-bio__img {
  margin-top: 5rem; }
  @media only screen and (min-width: 48.1em) {
    .isAnimated-bio__img {
      margin-top: 0.5rem; } }

.js-first-img {
  margin-top: 12rem; }

.isAnimated-firstThumb {
  margin-top: 0rem; }

.case__animate {
  animation: fadeIn 0.6s ease-in 1, bottomToTop-2 0.8s ease 1; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  70% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@keyframes topToBottom {
  0% {
    transform: translateY(-5rem); }
  100% {
    transform: translateY(0rem); } }

@keyframes topToBottom-2 {
  0% {
    transform: translateY(-3rem); }
  100% {
    transform: translateY(0rem); } }

@keyframes bottomToTop {
  0% {
    transform: translateY(10rem); }
  100% {
    transform: translateY(0rem); } }

@keyframes bottomToTop-2 {
  0% {
    transform: translateY(3rem); }
  100% {
    transform: translateY(0rem); } }

@keyframes moveToDown {
  0% {
    transform: translateY(0rem); }
  10% {
    transform: translateY(1rem); }
  20% {
    transform: translateY(0rem); }
  30% {
    transform: translateY(1rem); }
  40% {
    transform: translateY(0rem); }
  100% {
    transform: translateY(0rem); } }

.txt-hero {
  font-size: 3.8rem;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 48.1em) {
    .txt-hero {
      font-size: 6.2rem; } }

.txt-hero--small {
  font-size: 2.2rem; }
  @media only screen and (min-width: 48.1em) {
    .txt-hero--small {
      font-size: 2.4rem; } }
  @media only screen and (min-width: 75em) {
    .txt-hero--small {
      font-size: 3rem; } }

.txt-upcase {
  text-transform: uppercase; }

.txt-line {
  text-decoration: line-through; }

.txt-heavy {
  font-weight: 600; }

.txt-regular {
  font-weight: 400; }

.txt-center {
  text-align: center; }

.txt-right {
  text-align: right; }

.txt-xxx-small {
  font-size: 1.2rem; }

.txt-xx-small {
  font-size: 1.6rem; }

.txt-x-small {
  font-size: 1.8rem; }

.txt-small {
  font-size: 2.2rem; }

.txt-medium {
  font-size: 2.4rem; }

.txt-large {
  font-size: 3rem; }

.txt-x-large {
  font-size: 3.8rem; }

.txt-xx-large {
  font-size: 4.8rem; }

.txt-xxx-large {
  font-size: 5.2rem; }

.txt-loose {
  letter-spacing: 0.05em; }

.txt-x-loose {
  letter-spacing: 0.075em; }

.txt-tight {
  letter-spacing: -0.02em; }

.txt-lh-medium {
  line-height: 1.35; }

.txt-section {
  margin-top: 6.4rem;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #161616; }

.txt-highlight {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
  font-size: 2.4rem;
  line-height: 1.25; }
  @media only screen and (min-width: 48.1em) {
    .txt-highlight {
      font-size: 2.8rem;
      line-height: 1.35; } }

.txt-link {
  display: block;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-top: 3.2rem; }
  @media only screen and (min-width: 48.1em) {
    .txt-link {
      font-size: 2.2rem; } }

.txt-black {
  color: #161616; }

.txt-gray {
  color: #757575; }

.txt-gray-80 {
  color: #393939; }

.txt-primary {
  color: #FFC0CB; }

.mt-none {
  margin-top: 0px; }

.mt-10 {
  margin-top: 0.4rem; }

.mt-20 {
  margin-top: 0.8rem; }

.mt-30 {
  margin-top: 1.2rem; }

.mt-40 {
  margin-top: 1.6rem; }

.mt-50 {
  margin-top: 2.4rem; }

.mt-60 {
  margin-top: 3.2rem; }

.mt-70 {
  margin-top: 4.8rem; }

.mt-80 {
  margin-top: 6.4rem; }

.mt-90 {
  margin-top: 9.6rem; }

.mt-100 {
  margin-top: 16rem; }

.mb-none {
  margin-bottom: 0px; }

.mb-10 {
  margin-bottom: 0.4rem; }

.mb-20 {
  margin-bottom: 0.8rem; }

.mb-30 {
  margin-bottom: 1.2rem; }

.mb-40 {
  margin-bottom: 1.6rem; }

.mb-50 {
  margin-bottom: 2.4rem; }

.mb-60 {
  margin-bottom: 3.2rem; }

.mb-70 {
  margin-bottom: 4.8rem; }

.mb-80 {
  margin-bottom: 6.4rem; }

.mb-90 {
  margin-bottom: 9.6rem; }

.mb-100 {
  margin-bottom: 16rem; }

.mr-10 {
  margin-right: 0.4rem; }

.mr-20 {
  margin-right: 0.8rem; }

.mr-30 {
  margin-right: 1.2rem; }

.bg-color--primary {
  background-color: #FFC0CB; }

.bg-color--lightgray {
  background-color: #f4f4f4; }

.bg-color--gray-30 {
  background-color: #c6c6c6; }

.sticky {
  position: sticky;
  top: 11rem; }

.section-pb {
  padding-bottom: 8rem; }
  @media only screen and (min-width: 48.1em) {
    .section-pb {
      padding-bottom: 10rem; } }
  @media only screen and (min-width: 75em) {
    .section-pb {
      padding-bottom: 12rem; } }

.section-pt {
  padding-top: 4.8rem; }
  @media only screen and (min-width: 48.1em) {
    .section-pt {
      padding-top: 6.4rem; } }

.item-center {
  margin-left: auto;
  margin-right: auto; }

.max-width-x-large {
  max-width: 90rem; }

.max-width-large {
  max-width: 80rem; }

.flex-center {
  display: flex;
  align-items: center; }

.case-title {
  font-size: 2.8rem;
  margin-top: 2.7rem; }
  @media only screen and (min-width: 48.1em) {
    .case-title {
      font-size: 3.8rem; } }

.case-info {
  margin-top: 4.8rem;
  margin-bottom: 6.4rem; }
  @media only screen and (min-width: 48.1em) {
    .case-info {
      margin-top: 0.5rem;
      margin-bottom: 0; } }
