// --------------------------------------------------
// <LUIS PORTFOLIO>
//
// Sass styles import for whole project
// --------------------------------------------------

@import "01_settings/settings.@variables";
@import "01_settings/settings.elements";
@import "01_settings/settings.fonts";

@import "02_components/comp.anchor";
@import "02_components/comp.button";
@import "02_components/comp.card";
@import "02_components/comp.chip";
@import "02_components/comp.flex";
@import "02_components/comp.grid";
@import "02_components/comp.icon";
@import "02_components/comp.lined-list";
@import "02_components/comp.navbar";
@import "02_components/comp.spot-illu";
@import "02_components/comp.footer";
@import "02_components/comp.header";
@import "02_components/comp.list";

@import "02_components/components.case-header";
@import "02_components/components.case-section";

@import "03_utilities/utilities.animations.scss";
@import "03_utilities/utilities.typography.scss";
@import "03_utilities/utilities.spacing.scss";
@import "03_utilities/utilities.utilities.scss";
