.lined-list {
  margin-bottom: $space-70;
}

.lined-list li {
  margin-bottom: 0px;
  padding-top: $space-50;
  padding-bottom: $space-50;
  border-bottom: 2px dotted $gray-30;
  //font-size: $type-x-small;
  font-size: 2rem;

  @include respond(tablet) {
    font-size: $type-small;
  }
  @include respond(desktop) {
    font-size: $type-medium;
  }
}

.lined-list li:first-of-type {
  border-top: 2px dotted $gray-30;
}
