.card {
  display: block;
  margin-bottom: $space-60;
  //padding: $space-50;
  //border-radius: $rounded-default;
  //background-color: $gray-10;
  
  transition: transform 0.16s ease-in;
    @include respond(tablet) {
      margin-bottom: $space-70;
    }
    @include respond(desktop) {
      margin-bottom: $space-90;
    }
}

a .card__img {
  width: 100%;
  margin-bottom: $space-30;
  transition: scale 0.16s ease-in, opacity 0.16s ease-in;
}

.card__name-wrapper{
  display: flex;
  font-size: 0;
}

.card__arrow {
  transition: transform 0.16s ease-in;
}

.card__title {
  margin-right: 8px; 
  margin-bottom: 0;
  color: $gray-80;
  font-weight: 400;;
}

.card__text {
  margin-bottom: $space-10;
  line-height: $lh-tight;
}

.card .card__chip-container {
  justify-content: space-between;
  align-items: center;
}

.card .chip--small { 
  margin-top: $space-20;
  margin-bottom: 0;
  background-color: $color-white;
  border: 1px solid $gray-30;
  font-size: $type-xxx-small;
  @include respond(tablet) {
    font-size: $type-xx-small;
  }
  
}

/// Hovers ///

// .card:hover {
//   @media (hover: hover) {
//     transform: translateY(-0.6rem);
//   }
// }

.card:hover .card__arrow {
  

  @media (hover: hover) {
    transform: translateX(0.4rem);
    
  }
}

.card:hover img {
  @media (hover: hover) {
    opacity: 0.85;
    scale: 1.02;

  }
}





