.box { 
  padding-top: $space-80;
  padding-bottom: $space-70;
  border-radius: $rounded-default;
  background-color: $gray-10;
}

.box div { 
  max-width: 85rem;
  margin-left: auto;
  margin-right: auto;
}