// .chip-container:first-of-type {
//   margin-top: $space-70;
// }

.chip-container {
  margin-top: $space-60;
  @include respond(tablet) {
    margin-top: 0;
  }
  @include respond(desktop) {
    font-size: $type-medium;
  }
}

.chip {
  display: block;
  margin-right: $space-20;
  margin-bottom: $space-20;
  //padding-top: $space-10;
  padding-right: $space-30;
  //padding-bottom: $space-10;
  padding-left: $space-30;
  background-color: $color-white;
  border-radius: $rounded-full;
  border: 2px solid $gray-80;
  //font-size: $type-x-small;
  color: $gray-80;
}

.chip--big {
  display: block;
  margin-right: $space-20;
  margin-bottom: $space-30;
  padding-right: $space-50;
  padding-left: $space-50;
  padding-top: $space-20;
  padding-bottom: $space-20;
  //font-size: $type-x-small;
  font-size: 2rem;
  background-color: $color-white;
  border-radius: $rounded-full;
  border: 1px solid $gray-30;
  color: $gray-80;

  @include respond(tablet) {
    font-size: $type-small;
  }
  @include respond(desktop) {
    font-size: $type-medium;
  }
}

.chip--small {
  // padding-top: $space-10;
  // padding-bottom: $space-10;
  font-size: $type-xx-small;
  color: $gray-60;
  //background-color: $gray-15;
  
  border: none;
  border: 1px solid $gray-30;
  line-height: 24px;
}
