.ui-icon {
  width: 2.6rem;
  height: 2.6rem;
  margin-left: $space-20;
  color: $gray-100;
}

.ui-icon--small {
  width: 2rem;
  height: 2rem;
  margin-left: $space-10;
  color: $gray-100; 
}

.smiley-icon {
  display: block;
  width: 5rem;
  margin: 0 auto;
}
