// Text Button
.btn--txt {
  display: inline-flex;
  align-items: center;
  margin-bottom: $space-30;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.1s ease;
}

.btn--txt:hover {
  @media (hover: hover) {
    border-bottom: 2px solid $gray-100;
  }
}

.btn--txt--case {
  color: $gray-60 !important;
}

.btn--txt--case:hover {
  @media (hover: hover) {
    border-bottom: 2px solid $gray-60;
  }
}

// Arrow-up button to top page
.arrow-up {
  z-index: 900;
  position: fixed;
  bottom: -6rem;
  right: 2rem;
  width: 4.2rem;
  height: 4.2rem;
  padding: 1rem 1rem;
  //background-color: $color-white;
  //background-color: $gray-15;
  backdrop-filter: saturate(0.5) blur(5px);
  background-color: rgba($color-white, 0.65);
  //box-shadow: 1px 1px 10px 1px rgba($gray-60, 0.15);
  border: 1px solid $gray-30;
  border-radius: $rounded-full;
  transition: transform 0.3s ease-out, bottom 0.5s ease-out;
  &:hover {
    transform: translateY(-1rem);
    cursor: pointer;
  }

  @include respond(tablet) {
    width: $space-70;
    height: $space-70;
  }

  @include respond(desktop) {
    right: 5.5rem;
  }
}

.arrow-up-active {
  bottom: 2rem;
  @include respond(tablet) {
    bottom: 2.5rem;
    right: 2.5rem;
  }
  @include respond(desktop) {
    bottom: 5.5rem;
    right: 5.5rem;
  }
}

/// Close button in case pages
.close-btn {
  z-index: 900;
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 4.2rem;
  height: 4.2rem;
  padding: 1rem 1rem;
  // background-color: $color-white;
  // background-color: $gray-15;
  backdrop-filter: saturate(0.5) blur(5px);
  background-color: rgba($color-white, 0.85);
  //box-shadow: 1px 1px 10px 1px rgba($gray-60, 0.15);
  border: 1px solid $gray-30;
  border-radius: $rounded-full;
  transition: transform 0.3s ease-out, bottom 0.5s ease-out;
  
  &:hover {
    transform: translateY(0.3rem);
    cursor: pointer;
  }

  @include respond(tablet) {
    top: 2.5rem;
    right: 2.5rem;
    width: $space-70;
    height: $space-70;
  }

  @include respond(desktop) {
    right: 5.5rem;
  }
}

// Arrow-right button shown in project cards when on hover
.card-btn {
  display: none;
  @include respond(desktop) {
    display: flex;
    opacity:0;
    justify-content: center;
    align-items: center;
    width: $space-70; 
    height: $space-70;
    padding: 1rem 1rem;
    background-color: $gray-15;
    background-color: $color-white;
    border-radius: $rounded-full;
    transition: opacity 0.25s ease-out, bottom 0.5s ease-out;
  }
  
}
