.flex {
  display: flex;
}

.flex--center-v {
  align-items: center;
}

.flex--baseline-v {
  align-items: baseline;
}

.flex--center-h {
  justify-content: center;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--column {
  flex-direction: column;
}

