footer {
  margin-top: $space-30;
}

//just for the footer on case-pages
.footer-case-pages { 
  margin-top: $space-90;
}

.footer__box {
  padding-top: $space-60;
  padding-bottom: $space-40;
  padding-left: $space-60;
  padding-right: $space-60;
  border-radius: $rounded-default;
}

footer ul a:hover {
  @include respond(tablet) {
    border-bottom: 2px solid $gray-100;
  }
}

.footer__copyright {
  margin-top: $space-30;
  margin-bottom: $space-10; 
  font-size: $type-xxx-small;
  color: $gray-60;
  
  @include respond(small-tablet) {
    width: 85%;
    margin-top: $space-90;
    margin-bottom: $space-30; 
    font-size: $type-xx-small;
  }

  @include respond(tablet) {
    margin-bottom: $space-60; 
  }

  @include respond(desktop) {
    margin-top: $space-70;
    margin-bottom: $space-70; 
  }
}
