.lined-list {
  margin-bottom: $space-80;
}

.lined-list li {
  margin-bottom: 0px;
  padding-top: $space-50;
  padding-bottom: $space-50;
  border-bottom: 1px solid $gray-30;
}

.lined-list li:first-of-type {
  border-top: 1px solid $gray-30;
}
