///////////////////
// Navbar
.navbar {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: $space-50;
  padding-bottom: $space-50;
  padding-right: $space-50;
  padding-left: $space-50;
  background-color: $color-primary;

  @media (hover: hover) {
    &:hover {
      &:before {
        top: 0rem;
      }
      & .logo-icon rect {
        fill: $gray-100 !important;
        fill-opacity: 1 !important;
        transition: fill 0.15s ease-in;
      }
      & .logo-icon path {
        fill: $color-primary !important;
        transition: fill 0.15s ease-in;
      }
    }
  }
}

.navbar--case {
  position: static;
  padding-top: $space-50;
  padding-bottom: $space-50;
  padding-right: $space-50;
  padding-left: $space-50;
  background-color: $color-white;
}

// White BG when hover and scrolling down
.navbar:before {
  content: "";
  position: absolute;
  left: 0;
  top: -10rem;
  width: 100%;
  height: 100%;
  z-index: -100;
  backdrop-filter: saturate(0.5) blur(5px);
  background-color: rgba($color-white, 0.85);
  box-shadow: 1px 1px 10px 1px rgba($gray-60, 0.1);
  transition: top 0.15s ease-out;
}

.nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 130rem; // new grid!
  margin-left: auto;
  margin-right: auto;
  animation: fadeIn 0.6s ease-in 1, topToBottom 0.7s ease 1;
}

.nav-flex--case {
  height: 4.4rem;
}

///////////////////
// Logo
.logo-icon {
  width: 30px;
  margin-right: $space-30;
}

///////////////////
// Menu (When burger Icon is clicked)
.navbar-menu {
  z-index: 1000;
  position: fixed;
  top: 0rem;
  right: -100rem; // goes with class nav-active right: -3rem;

  height: 100vh;
  width: 92vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $color-primary;
  box-shadow: -5px 0px 15px 2px rgba($gray-100, 0.1);
  transition: right 0.35s ease-out;

  @include respond(tablet) {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    width: 70%;
    background-color: transparent;
    box-shadow: none;
  }
}

.menu-active {
  right: 0rem;
}

//  margins of Menu links
.navbar-menu li {
  margin-bottom: $space-30;
  padding: $space-30;
  user-select: none;

  @include respond(tablet) {
    margin-bottom: 0rem;
    margin-right: $space-60;
    padding: 0rem;
    &:last-of-type {
      margin-right: 0rem;
    }
  }
}

// REGULAR NAVBAR LINK
.navbar-menu .nav-link {
  color: $gray-100;
  font-size: $type-small;

  @include respond(tablet) {
    display: block;
    padding-top: 1rem; // to igualize with cta-button
    padding-bottom: 0.5rem;
    font-size: $type-x-small;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.1s ease;
    &:hover {
      border-bottom: 2px solid $gray-100;
    }
  }
}

// CTA Menu LINK
.navbar-menu .nav-link--cta {
  font-size: $type-small;
  @include respond(tablet) {
    padding-top: 0.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    font-size: $type-x-small;
    color: $gray-100;
    border: 2px solid $gray-100;
    border-radius: $rounded-full;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $color-primary;
      border: 2px solid $color-primary;
    }
  }
}

///////////////////
// BURGER ICON

//burger icon container
.navbar-burger {
  z-index: 1030;
  display: block;
  cursor: pointer;
  @include respond(tablet) {
    display: none;
  }
}

//the 3 lines of the burger icon
.navbar-burger div {
  height: 0.2rem;
  width: 3rem;
  margin-top: 0.7rem;
  background-color: $gray-100;
  border-radius: 1rem;
  transition: transform 0.3s ease;
}

.navbar-burger div:last-of-type {
  margin-bottom: 0.7rem;
}

// Three burger lines while animating
.burger-animate .line1 {
  transform: rotate(-45deg) translate(-0.7rem, 0.6rem);
}
.burger-animate .line2 {
  opacity: 0;
}

.burger-animate .line3 {
  transform: rotate(45deg) translate(-0.6rem, -0.6rem);
}

//// Scroll down change Navbar
.nav-scroll {
  background-color: transparent;
  &:before {
    top: 0rem;
  }
  //change color of logo-icon svg
  & .logo-icon rect {
    fill: $gray-100 !important;
    fill-opacity: 1 !important;
    transition: fill 0.15s ease-in;
  }

  & .logo-icon path {
    fill: $color-primary !important;
    transition: fill 0.15s ease-in;
  }
}

///// Links is-active when scroll down
.navbar-menu .link-active {
  border-bottom: 2px solid $color-primary;
}

.navbar-menu li:last-of-type .link-active {
  color: $gray-100;
  background-color: $color-primary;
  border: 2px solid $color-primary;
}
