// --------------------------------------------------
// MEDIA QUERIES MIXIN
// --------------------------------------------------

@mixin respond($breakpoint) {
  @if $breakpoint == small-tablet {
    @media only screen and (min-width: 26.9em) {
      @content;
    } // 430px
  }

  @if $breakpoint == tablet {
    @media only screen and (min-width: 48.1em) {
      @content;
    } // 770px
  }

  @if $breakpoint == desktop {
    @media only screen and (min-width: 75em) {
      @content;
    } // 1200
  }
}

// use the mixin inside the class:
// @include respond($breakpoint-name) { font-weight: 400; }


// --------------------------------------------------
// #SPACING
// --------------------------------------------------
$space-unit: 0.8rem;
$space-10: 0.5 * $space-unit; //4px
$space-20: $space-unit; //8px
$space-30: 1.5 * $space-unit; //12px
$space-40: 2 * $space-unit; //16px
$space-50: 3 * $space-unit; //24px
$space-60: 4 * $space-unit; //32px
$space-70: 6 * $space-unit; //48px
$space-80: 8 * $space-unit; //64px
$space-90: 12 * $space-unit; //96px
$space-100: 20 * $space-unit; //160px

// --------------------------------------------------
// #FONT STACK
// --------------------------------------------------
//$body-font: "bs", arial, sans-serif;
//$body-font: "bbeta", arial, sans-serif;
// $body-font: "Bricolage Grotesque", sans-serif;
//$beta-font: "bbeta";



// --------------------------------------------------
// #TYPE-SCALE
// --------------------------------------------------
$type-xxx-small: 1.2rem;
$type-xx-small: 1.6rem;
$type-x-small: 1.8rem;
$type-small: 2.2rem;
$type-medium: 2.4rem;
$type-large: 3rem;
$type-x-large: 3.8rem;
$type-xx-large: 4.8rem;
$type-xxx-large: 5.2rem;

// $font-size-20: 1.6rem;
// $font-size-30: 1.8rem;
// $font-size-40: 2.2rem;
// $font-size-50: 2.4rem;
// $font-size-60: 3rem;
// $font-size-70: 3.8rem;
// $font-size-80: 5.2rem;
// $font-size-90: 6.2rem;
// $font-size-100: 10rem;

// --------------------------------------------------
// #FONT WEIGHT
// --------------------------------------------------
$fw-default: 400;
$fw-bold: 600;

// --------------------------------------------------
// #LINE HEIGHT
// --------------------------------------------------
$lh-default: 1.5;
$lh-medium: 1.35;
$lh-tight: 1.25;
$lh-x-tight: 1.1;

// --------------------------------------------------
// #LETTER SPACING
// --------------------------------------------------
$ls-loose: 0.05em;
$ls-x-loose: 0.075em;
$ls-tight: -0.02em;
$ls-x-tight: -0.035em;

// --------------------------------------------------
// #BORDERS
// --------------------------------------------------
$rounded-default: 2rem;
$rounded-full: 50rem;
