// --------------------------------------------------
// #FONTS
// --------------------------------------------------

@font-face {
  font-family: "bs";
  src: url("../../css/font/bs-regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "bs";
  src: url("../../css/font/bs-semibold.woff") format("woff");
  font-weight: 600;
}
