// --------------------------------------------------
// #ELEMENTS & CSS Reset
// --------------------------------------------------

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "scroll-behavior: smooth" /* actual fonts */;
}

body {
  overflow-x: hidden;
  color: $gray-100;
  font-family: $body-font;
  font-size: $type-x-small;
  font-weight: $fw-default;
  line-height: $lh-default;
  color: $gray-100;

  @include respond(tablet) {
    font-size: $type-small;
  }
}

::selection {
  background: lighten($color-primary, 20%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  font-weight: $fw-bold;
  // font-weight: $fw-default;
  line-height: $lh-tight;
  color: $gray-100;
}

h1 {
  margin-bottom: $space-50;
  font-size: $type-x-large;
  line-height: 1.1;
  letter-spacing: -0.5px;

  @include respond(tablet) {
    margin-bottom: $space-50;
    font-size: $type-xx-large;
  }
}

h2 {
  margin-bottom: $space-70;
  font-size: $type-x-large;

  @include respond(tablet) {
    font-size: $type-xx-large;
  }
}

/////// not in use yet
h3 {
  margin-bottom: $space-70;
  font-size: $type-medium;

  @include respond(desktop) {
    font-size: $type-large;
  }
}

p {
  margin-bottom: $space-40;
  // color: $gray-80;
}

strong {
  color: $gray-100;
}

// #Links
// --------------

a:link {
  text-decoration: none;
  color: $gray-100;
}

a:visited {
  color: $gray-100;
}

// #Links inside Body Text <p>
p a:link {
  color: $gray-100;
  text-decoration: underline;
}

p a:visited {
  color: $gray-100;
  border-bottom-color: $color-primary;
}
@media (hover: hover) {
  p a:hover {
    cursor: pointer;
  }
}

p a:active {
  color: $gray-100;
}

// #Lists
// -------------

ul,
ol {
  list-style-type:none;
  // list-style: none;
}

// #images
// --------------
img {
  width: 100%;
  border-radius: $rounded-default;
}

strong {
  font-weight: $fw-bold;
}
