// --------------------------------------------------
// #Colors settings
// --------------------------------------------------

$color-white:#ffffff;
$color-black: #171717;
$color-black: #020202; // S-black
$color-grey-1: #e7ecf2;
$color-dark-grey: #525252;

$color-primary: #ffbdcb;
$color-primary-dark:#ff99af;

$color-red: #ff511d;
$color-purple: #834bf6;
$color-yellow: #f1e05a;
