// --------------------------------------------------
// #ELEMENTS & CSS Reset
// --------------------------------------------------

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "scroll-behavior: smooth" /* actual fonts */;
}

body {
  overflow-x: hidden;
  color: $gray-100;
  font-family: $body-font;
  font-size: $type-x-small;
  font-weight: $fw-default;
  line-height: $lh-default;

  @include respond(tablet) {
    font-size: $type-small;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //margin: var(--space-medium) 0 var(--space-x-small) 0;
  padding: 0;
  font-weight: $fw-bold;
  line-height: $lh-tight;
  color: $gray-100;
}

h1 {
  font-size: $type-x-large;
  line-height: 1.1;
  letter-spacing: -0.5px;

  @include respond(tablet) {
    font-size: $type-xx-large;
    //line-height: 1;
    //letter-spacing: -1px;
  }
}

h2 {
  font-size: $type-large;
  margin-bottom: $space-70;

  @include respond(tablet) {
    font-size: $type-x-large;
  }
}

/////// not in use yet
h3 {
  font-size: $type-medium;
  font-weight: 600;
  color: $color-black;
  @include respond(desktop) {
    font-size: $type-large;
  }
}

// old, no H4
// h4 {
//   font-size: 2rem;
//   font-weight: 600;
//   color: $color-black;
//   @include respond(tablet) {
//     font-size: 2.4rem;
//   }
// }

// // old, no H4
// h5 {
//   font-size: 1.6rem;
//   font-weight: 600;
//   text-transform: uppercase;
//   letter-spacing: 2px;
//   color: $color-black;
// }

// // old, no H4
// h6 {
//   font-size: 1.6rem;
//   font-family: $sub-font;
//   font-weight: 400;
//   color: $color-black;
// }

p {
  margin-bottom: $space-40;
}

// #Links
// --------------

a:link {
  text-decoration: none;
  color: $gray-100;
}

a:visited {
  color: $color-black;
}

// #Links inside Body Text <p>
p a:link {
  //display: inline-block; --> solve the break line problems in firefox but doesn look good :)
  // padding-bottom: 0.2rem;
  // padding-left: 0.2rem;
  // padding-right: 0.2rem;
  color: $gray-100;
  text-decoration: underline;
  // box-shadow: rgba($color-primary, 1) 0px -2px 0px inset;
  // transition: box-shadow 0.15s cubic-bezier(0.33, 0.66, 0.66, 1) 0s,
  //   color 0.15s ease 0s;
}

p a:visited {
  color: $gray-100;
  border-bottom-color: $color-primary;
}
@media (hover: hover) {
  p a:hover {
    cursor: pointer;
    // box-shadow: rgba($color-primary, 1) 0px -40px inset;
  }
}

p a:active {
  color: $gray-100;
}


.ghost-link {
  color: $color-white;
  &:hover {
    background-color: $color-primary;
    color: $color-white;
    text-decoration: underline;
  }
}

// #Lists
// -------------

ul,
ol {
  list-style: none;
}

// #images
// --------------
img {
  border-radius: $rounded-default;
}

strong { 
  font-weight: $fw-bold;
}
