// --------------------------------------------------
// #Colors settings
// --------------------------------------------------
$color-white: #ffffff;
$color-black: #241c15;

//new 2022 color palette
//GRAY SCALE
$gray-10: #f4f4f4;
$gray-15: #ececee;
$gray-20: #e0e0e0;
$gray-30: #c6c6c6;
$gray-60: #757575;
$gray-80: #393939;
$gray-100: #161616;
///
$color-grey: #e5e5e5;
$color-grey-dark: #403b3b; // large body text
$color-grey-light: #f6f6f4;
///
//$color-primary: #fddb3a; // old
$color-primary: #ffdb58;
$color-primary-contrast: $color-black;
