// --------------------------------------------------
// #Utilities
// --------------------------------------------------

.u-text-center {
  text-align: center;
}

/////////// Margins
.u-mb-1 {
  margin-bottom: 1rem;
}

.u-mb-2 {
  margin-bottom: 2rem;
}


////////////// Text color
.u-text-white {
  color: $color-white;
}

/////////////// Displays
.u-hidden { display: none; }

.u-noScroll { overflow: hidden; }
