///////////////////
// Navbar
.navbar {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: $space-50;
  padding-bottom: $space-50;
  background-color: $color-primary;
  @media (hover: hover) {
    &:hover {
      &:before {
        top: 0rem;
      }
    }
  }
}

// White BG when hover and scrolling down
.navbar:before {
  content: "";
  position: absolute;
  left: 0;
  top: -10rem;
  width: 100%;
  height: 100%;
  z-index: -100;
  background-color: $color-white;
  transition: top 0.2s ease-out;
}

.nav-flex {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  //animation: topToBottom .7s ease 1; old
  animation: fadeIn 0.6s ease-in 1, topToBottom 0.7s ease 1;
}

///////////////////
// Logo
.logo {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.8px;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 2px solid $color-primary;
  color: $color-primary-contrast;
  box-shadow: none;
  text-decoration: none;
}

///////////////////
// Menu (When burger Icon is clicked)
.navbar-menu {
  z-index: 1000;
  position: fixed;
  top: 0rem;
  right: -100rem; // goes with class nav-active right: -3rem;

  height: 100vh;
  width: 92vw;
  padding-bottom: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $color-primary;
  box-shadow: -5px 0px 15px 2px rgba(0, 0, 0, 0.1);
  transition: right 0.35s ease-out;

  @include respond(tablet) {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    width: 50%;
    padding-bottom: 0;
    background-color: transparent;
    box-shadow: none;
  }
}

.menu-active {
  right: 0rem;
}

//  margins of Menu links
.navbar-menu li {
  margin-bottom: 2.5rem;
  user-select: none;
  &:last-of-type {
    margin-top: 4rem;
  }

  @include respond(tablet) {
    margin-bottom: 0rem;
    margin-right: 3.5rem;
    &:last-of-type {
      margin-top: 0rem;
      margin-right: 0rem;
    }
  }
}

// REGULAR NAVBAR LINK
.navbar-menu .link {
  font-size: 2.8rem;
  color: $gray-100;
  text-decoration: none;
  box-shadow: none;

  @include respond(tablet) {
    display: block;
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
    font-size: $type-x-small;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.1s ease;
    &:hover {
      border-bottom: 2px solid $color-primary-contrast;
    }
  }
}

// CTA Menu LINK
.cta-link {
  padding-top: 1rem;
  padding-right: 2.5rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  color: $color-primary-contrast;
  font-size: 2.5rem;
  border: 2px solid $color-primary-contrast;
  border-radius: 50rem;
  text-decoration: none;
  box-shadow: none;

  @include respond(tablet) {
    margin-top: -10rem !important;
    padding-top: 0.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    font-size: 1.6rem;
    transition: background-color 0.2s ease;

    &:hover {
      color: $color-primary-contrast;
      background-color: $color-primary;
      border: 2px solid $color-primary;
    }
  }
}

///////////////////
// BURGER ICON

//burger icon container
.navbar-burger {
  z-index: 1030;
  display: block;
  cursor: pointer;
  @include respond(tablet) {
    display: none;
  }
}

//the 3 lines of the burger icon
.navbar-burger div {
  height: 0.2rem;
  width: 3rem;
  margin-top: 0.7rem;
  background-color: $color-primary-contrast;
  border-radius: 1rem;
  transition: transform 0.3s ease;
}

.navbar-burger div:last-of-type {
  margin-bottom: 0.7rem;
}

// Three burger lines while animating
.burger-animate .line1 {
  background-color: $color-primary-contrast;
  transform: rotate(-45deg) translate(-0.7rem, 0.6rem);
}
.burger-animate .line2 {
  opacity: 0;
}

.burger-animate .line3 {
  background-color: $color-primary-contrast;
  transform: rotate(45deg) translate(-0.6rem, -0.6rem);
}

//// Scroll down change Navbar
.nav-scroll {
  background-color: transparent;
  &:before {
    top: 0rem;
  }
}

///// Links is-active when scroll down
.navbar-menu .link-active {
  border-bottom: 2px solid $color-primary;
}

.navbar-menu li:last-of-type .link-active {
  background-color: $color-primary;
  color: $color-primary-contrast;
  border: 2px solid $color-primary;
}
