///////////////////
// Navbar  
.navbar {
  z-index: 1000;
  position: -webkit-sticky;
  position: sticky;
  // position: fixed;
  top: 0;
  height: 8rem;
  background-color: $color-black;
  border-bottom: 1px solid #262626;
}

///////////////////
// Logo
.logo {
  font-size: 2.2rem;
  font-weight: 400;
  color: $color-white;
  letter-spacing: -.2px;
}

///////////////////
// Menu

.navbar-menu {
  z-index: 1000;
  position: absolute;
  top: 0px;
  left: -100rem; // goes with class nav-active left: -3rem;

  height: 100vh;
  width: 100vw;
  padding-bottom: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $color-primary;
  transition: left .4s ease-in;


  @include respond(tablet) {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;;
    height: 100%;
    width: 50%;
    padding-bottom: 0;
    background-color: transparent;
  }
}

.menu-active {
  left: 0rem;
}

.navbar-menu li {
    padding-bottom: 2.5rem;
    user-select: none;

  @include respond(tablet) {
    margin-top: .6rem;
    padding-left: 4.5rem;
    padding-bottom: 0;
  }
}

.navbar-menu h6 {
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
  
  @include respond(tablet) {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

.navbar-menu a {
  color: $color-black;

  @include respond(tablet) {
    display: block;
    border-bottom: 3px solid transparent;
    margin-top: 2.85rem;
    padding-bottom: 2.85rem;
    color: $color-white;
    transition: border-bottom .3s ease;
  }
}

.navbar-menu a:hover {

  @include respond(tablet) {
    display: block;
    border-bottom: 3px solid $color-primary;
  }
}




///////////////////
// BURGER ICON

//burger icon container
.navbar-burger {
  z-index: 1030;
  display: block;
  cursor: pointer;

  @include respond(tablet) {
    display: none;
  }

}

//the 3 lines of the burger
.navbar-burger div {
  height: 0.2rem;
  width: 3rem;
  margin-top: 0.7rem;
  background-color: $color-white;
  border-radius: 1rem;
  transition: transform .3s ease,  background-color .5s ease-in;
}

.navbar-burger div:last-of-type {
  margin-bottom: 0.7rem;
}

.burger-animate .line1 {
  background-color: $color-black;
  transform: rotate(-45deg) translate(-0.7rem,0.6rem);
}

.burger-animate .line2 { opacity: 0; }

.burger-animate .line3 {
  background-color: $color-black;
  transform: rotate(45deg) translate(-0.6rem,-0.6rem);
}