// --------------------------------------------------
// #Layout
// --------------------------------------------------

.nav-grid,
.header-grid,
.projects-grid, 
.skills-grid, 
.about-grid, 
.exp-grid, 
.footer-grid {
  display: grid;
  grid-template-columns:
    [full-start] 2rem
    [content-start] 1fr
    [content-end] 2rem [full-end];

  @include respond(tablet) { 
    grid-template-columns:
      [full-start] 3rem 
      [content-start] 1fr [col2] 1fr 
      [content-end] 3rem [full-end];
  }
  
  @include respond(desktop) { 
    grid-template-columns:
      [full-start] 1fr
      [content-start] 55rem [col2] 55rem 
      [content-end] 1fr [full-end];
  }
}

.nav-grid-item {
  grid-column: content-start / content-end;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.header-grid-item,
.projects-grid-item, 
.skills-grid-item, 
.about-grid-item,
.exp-grid-item, 
.footer-grid-item {
  grid-column: content-start / content-end;
}

.skills {
  background-color: $color-black;
}


.anchor {
  display: block;
  position: relative;
  top: -7.5rem;
  visibility: hidden;
}

.section-title {margin-top: 5rem; }
.section-title--white { color: $color-white;}
  

.projects,
.skills,
.about,
.experience {
  padding-bottom: 8rem;
}

.footer {
  padding-bottom: 3rem;
  @include respond(tablet) { padding-bottom: 8rem; }
}

//////// 2 Cols
.col-2-container {
  @include respond(tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }
}