// --------------------------------------------------
// #Layout
// --------------------------------------------------

// Just a basic css grid as a starter point
.grid {
  margin: 0px auto; //centered grid
  display: grid;

  grid-template-columns:
    [full-start] 3rem
    [content-start] 1fr
    [content-end] 3rem [full-end];

  @include respond(tablet) { 
  grid-template-columns:
    [full-start] 3rem 
    [content-start] 1fr [col2] 1fr 
    [content-end] 3rem [full-end];
  }

  @include respond(desktop) { 
    grid-template-columns:
      [full-start] 1fr
      [content-start] 55rem [col2] 55rem 
      [content-end] 1fr [full-end];
    }
}

.header-grid-item, 
.skills-grid-item,
.footer-grid-item {
  position: relative;
  grid-column: content-start / content-end;
  background-color: $color-black;
}

.header-grid-item:before, 
.skills-grid-item:before,
.about-grid-item:before,
.exp-grid-item:before,
.footer-grid-item:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100vw;
  right: -100vw;
  background:inherit;
}

.section-title {margin-top: 5rem; }

.section-title--white { color: $color-white;}
  
.projects-grid-item { 
  display: block;
  grid-column: content-start / content-end; 

  @include respond(tablet) {
    // display: flex;
   }

  // grid-template-columns: [content-start] 1fr [content-end];
  // column-gap: 0;

  // @include respond(tablet) {
  //   grid-template-columns:
  //   [content-start] 1fr [column2] 1fr [content-end];
  //   column-gap: 30px;
  // }
}

.skills,
.about,
.experience,
.footer {
  padding-bottom: 8rem;
}

.about-grid-item {
  position: relative;
  grid-column: content-start / content-end;
  background-color: $color-primary;
}

.exp-grid-item {
  position: relative;
  grid-column: content-start / content-end;
  background-color: $color-grey-1;
}





// Grid Fix
// To get background-color in 100% width but <element> content in center layout
//
// .<element>:before{
//   content: "";
//   z-index: -1;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: -100vw;
//   right: -100vw;
//   background:inherit;
// }




