// --------------------------------------------------
// #Layout
// --------------------------------------------------

// Just a basic css grid as a starter point
.grid {
  margin: 0px auto; //centered grid
  display: grid;

  grid-template-columns:
    [full-start] 3rem
    [content-start] 1fr
    [content-end] 3rem
    [full-end];

  // @include respond(tablet-port) {
  //   grid-template-columns:
  //   [full-start] minmax(2rem, 1fr)
  //   [content-start] 1fr [col-2] 1fr
  //   [content-end] minmax(2rem, 1fr) [full-end];
  // }
}

.header-grid-item, 
.skills-grid-item {
  position: relative;
  grid-column: content-start / content-end;
  background-color:$color-black;
}

.header-grid-item:before, 
.skills-grid-item:before{
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100vw;
  right: -100vw;
  background:inherit;
}

.section-title {margin-top: 5rem; }

.section-title--white { color: $color-white;}

.projects-grid-item { grid-column: content-start / content-end; }

.skills {
  padding-bottom: 8rem;
}



// Grid Fix
// To get background-color in 100% width but <element> content in center layout
//
// .<element>:before{
//   content: "";
//   z-index: -1;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: -100vw;
//   right: -100vw;
//   background:inherit;
// }


