.case__header {
  padding-top: 5rem;
  //@include respond(desktop) { padding-top: 8rem; } 
}

.case__header-title {
  margin-bottom: 2rem;
}

.case__info-container {
  border-top: 2px solid $color-grey;
  
  & a {transition: transform .2s ease;}

  &:first-of-type { 
    margin-top: 4rem; 
    @include respond(tablet) { margin-top: 0rem; } 
  }
  &:last-of-type {
    border-bottom: 2px solid $color-grey;
  }

  @media (hover: hover) {
    & a:hover {
      transform: translateX(1rem);
    }
  }
}

.case__info-item {
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}


.case__info_title {
  margin-right: 2rem;
  flex-basis: 10rem;
  flex-shrink: 0;
}

.case__icon {
  margin-left: auto;
}

.case__img-full {
  display: block;
  border-radius: 5px;
  box-shadow: 0px 4px 15px 1px rgba(0,0,0,.1);
  margin-top: 8rem;
}

.case__img {
  display: block;
  border-radius: 5px;
  box-shadow: 0px 4px 15px 1px rgba(0,0,0,.1);
}

.case__img-alt {
  display: block;
  border-radius: 5px;
  //box-shadow: 0px 4px 15px 1px rgba(0,0,0,.1);
  margin-top: 8rem;
}

.case__section {
  margin-top: 6.5rem;
  margin-bottom: 2rem;
}
