.header-grid-item {
  position: relative;
  grid-column: content-start / content-end;
  background-color:$color-black;
  height: 500px;
}

.header-grid-item:before{
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100vw;
  right: -100vw;
  background:inherit;
}

.header-title {
  color: $color-white;
}

.header-title br {
  margin-bottom: 10rem;
}

.header-title span {
  padding-bottom: 30rem;
  color: red;
}

