.footer { background-color: $color-black; }

.footer-mail {
  margin-top: 4rem;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: .1rem;
}

.footer-social {
  margin-top: 10rem;
  @include respond(tablet) { 
    display: flex;
    align-items: baseline;
  }
}

.footer-social h5 {
  margin-top: .5rem;
  margin-right: 1.5rem;
}

.footer-social li:last-of-type {
  margin-left: auto;
}

.footer-copyright {
  margin-top: 6rem;
  font-size: 1.5rem;
  font-weight: 400;
  @include respond(tablet) { margin-top: 0; }
}
