.chip-container:first-of-type {
  margin-top: $space-70;
}

.chip-container {
  margin-top: $space-50;
}

.chip {
  display: inline-block;
  margin-right: $space-10;
  margin-bottom: $space-30;
  //padding-top: $space-10;
  padding-right: $space-30;
  //padding-bottom: $space-10;
  padding-left: $space-30;
  background-color: $color-white;
  border-radius: $rounded-full;
  border: 2px solid $gray-80;
  //font-size: $type-x-small;
  color: $gray-80;
}


