.exp-title {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.exp-text {
  margin-top: 1.2rem;
} 

.exp-text p:first-of-type {
  font-weight: 400;
}

.exp-container {
  @include respond(tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }
}

.exp-content-left {
  grid-column: 1 / span 1;
}

.exp-content-right {
  grid-column: 2 / span 1;
}