.case__header {
  padding-top: 8rem;
}

.case__header-title {
  margin-bottom: 2rem;
}

.case__info-container {
  border-top: 2px solid $color-grey;
  
  & a {transition: transform .2s ease;}

  &:last-of-type {
    border-bottom: 2px solid $color-grey;
  }

  & a:hover {
    transform: translateX(1rem);
  }
}

.case__info-item {
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}


.case__info_title {
  margin-right: 2rem;
  flex-basis: 10rem;
  flex-shrink: 0;
}

.case__icon {
  margin-left: auto;
}

.case__img {
  display: block;
  border-radius: 5px;
  box-shadow: 0px 4px 15px 1px rgba(0,0,0,.1);
  margin-top: 8rem;
}
