.header {
  padding-top: 19rem;
  padding-bottom: 15rem;
  background-color: $color-primary;
  @include respond(tablet) {
    padding-top: 23rem;
    padding-bottom: 24rem;
    text-align: center;
  }
}

.header__title { 
  padding-top: 9rem;
  color: $color-primary-contrast; 
  padding-bottom: 3rem;
}

.header__subtitle { 
  color: $color-primary-contrast; 
  font-weight: 300;
}

