////////// BIO section
////////////////////////////
.bio { background-color: $color-white; }

.bio__title { margin-top: 1rem; }

.bio__text { 
  margin-top: 2rem; 
  color: $color-grey-dark;
}

.bio__img { 
  position: sticky; 
  top: 11rem;
  width: 100%;
}

///// 
.js-animate-img-bio {
  margin-top: 10rem;
  transition: margin-top 0.8s; 
}

.is-animated-bio { 
  margin-top: 5rem; 
  @include respond(tablet) { margin-top: 2rem }  
}