////////// BIO section
////////////////////////////
.bio { background-color: $color-white; }

.bio__title { margin-top: 1rem; }

.bio__text { 
  margin-top: 2rem; 
  color: $color-grey-dark;
}

.bio__img { 
  width: 100%;
  @include respond(tablet) { margin-top: 3rem;}
}

.bio img {
  position: sticky; 
  top: 11rem;
  margin-top: 5rem; 
}