.card {
  margin-top: 2rem;
}

.card-img {
  height: 350px;
  width: 350px;
}

.card-title {

}

.card-text {

}

.card-icon-set {
  display: flex;
  align-items: center;
}

.card-icon {
  padding-right: 1rem;
}

