// --------------------------------------------------
// #general Utilities
// --------------------------------------------------
.bg-color--primary {
  background-color: $color-primary;
}

.bg-color--lightgray {
  background-color: $gray-10;
}

.sticky {
  position: sticky;
  top: 11rem;
}

.section-pb {
  padding-bottom: 12rem;
}

.item-center {
  margin-left: auto;
  margin-right: auto;
}

.max-width-large {
  max-width: 80rem;
}
