// --------------------------------------------------
// #general Utilities
// --------------------------------------------------
.bg-color--primary {
  background-color: $color-primary;
}

.bg-color--lightgray {
  background-color: $gray-10;
}

.bg-color--gray-30 {
  background-color: $gray-30;
}

.sticky {
  position: sticky;
  top: 11rem;
}

.section-pb {
  padding-bottom: 8rem;
  @include respond(tablet) {
    padding-bottom: 10rem;
  }
  @include respond(desktop) {
    padding-bottom: 12rem;
  }
}

.section-pt {
  padding-top: $space-70;
  @include respond(tablet) {
    padding-top: $space-80;
  }
  // @include respond(desktop) {
  //   padding-top: $space-80;
  // }
}

.item-center {
  margin-left: auto;
  margin-right: auto;
}

.max-width-x-large {
  max-width: 90rem;
}

.max-width-large {
  max-width: 80rem;
}

.flex-center {
  display: flex;
  align-items: center;
}

//utilities for element in case pages
.case-title {
  font-size: 3.2rem;
  margin-top: 3.8rem;
  @include respond(tablet) {
    font-size: $type-x-large;
  }
}

.case-info {
  margin-top: $space-70;
  margin-bottom: $space-80;
  @include respond(tablet) {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
}
