.mt-none {
  margin-top: 0px;
}

.mt-10 {
  margin-top: $space-10;
}

.mt-20 {
  margin-top: $space-20;
}

.mt-30 {
  margin-top: $space-30;
}

.mt-40 {
  margin-top: $space-40;
}

.mt-50 {
  margin-top: $space-50;
}

.mt-60 {
  margin-top: $space-60;
}

.mt-70 {
  margin-top: $space-70;
}

.mt-80 {
  margin-top: $space-80;
}

.mt-90 {
  margin-top: $space-90;
}

.mt-100 {
  margin-top: $space-100;
}
// 
.mb-none {
  margin-bottom: 0px;
}

.mb-10 {
  margin-bottom: $space-10;
}

.mb-20 {
  margin-bottom: $space-20;
}

.mb-30 {
  margin-bottom: $space-30;
}

.mb-40 {
  margin-bottom: $space-40;
}

.mb-50 {
  margin-bottom: $space-50;
}

.mb-60 {
  margin-bottom: $space-60;
}

.mb-70 {
  margin-bottom: $space-70;
}

.mb-80 {
  margin-bottom: $space-80;
}

.mb-90 {
  margin-bottom: $space-90;
}

.mb-100 {
  margin-bottom: $space-100;
}

// 
.mr-10 {
  margin-right: $space-10;
}

.mr-20 {
  margin-right: $space-20;
}