// --------------------------------------------------
// #Links basic styling
// --------------------------------------------------

a:link {
  color: $color-white;
  text-decoration: none;
}

a:visited {color: $color-white;}

a:hover {color: $color-white;}

a:active {color: $color-white;}
