// --------------------------------------------------
// #Links basic styling
// --------------------------------------------------

a:link {color: $color-black;}

a:visited {color: $color-black;}

a:hover {color: $color-black;}

a:active {color: $color-black;}
